@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glass Effect with Enhanced Red Tint */
.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.followers-tint {
  background: rgba(255, 161, 161, 0.8);
  transition: background 0.3s ease;
}

.followers-tint:hover {
  background: rgba(255, 196, 196, 0.9);
}
