@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glass Effect with Enhanced Red Tint */
.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-pagination .ant-pagination-item {
  background: #1f2937;
  border-color: #374151;
}

.custom-pagination .ant-pagination-item a {
  color: #9ca3af;
}

.custom-pagination .ant-pagination-item-active {
  background: #10b981;
  border-color: #10b981;
}

.custom-pagination .ant-pagination-item-active a {
  color: white;
}

.custom-pagination .ant-pagination-prev button,
.custom-pagination .ant-pagination-next button {
  background: #1f2937;
  border-color: #374151;
  color: #9ca3af;
}